@import "_variable";

html{
  font-size: 62.5%;
  font-family: 'Space Mono', monospace;
}
body, h1, h2{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  width: 100%;
}

button{
  cursor: pointer;
}

.container{
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container{
  width: 80%;
  min-height: 90vh;
  border-radius: 10px;

  font-size: 1.6rem;
  background-color: $Light-grayish-cyan-1;
  box-shadow: rgba(149, 157, 165, 0.4) 0 8px 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .calculator{
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 25px;

    width: 60%;
    height: 350px;
    border-radius: 15px;

    display: flex;
    justify-content: space-between;

    background-color: white;

    .content{
      border-radius: 10px;
      //border: 1px solid black;
    }
    .content-left{
      width: 48%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .error{
        color: red;
      }
      .bill{
        margin-bottom: 30px;
        label{
          font-family: 'Space Mono', monospace;
          font-weight: 700;
          color: $Dark-grayish-cyan-2;
        }
        &__input{
          height: 40px;
          margin-top: 10px;
          border-radius: 10px;
          padding-left: 15px;
          padding-right: 15px;

          background-color: $Light-grayish-cyan-2;

          display: flex;
          justify-content: center;
          align-items: center;
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          input{
            width: 100%;

            text-align: right;
            color: $Very-dark-cyan;

            font-family: 'Space Mono', monospace;
            font-weight: 700;

            background: none;
            border: unset;
            outline: none;

            font-size: 1.6rem;

          }
        }
      }
      .tip{
        width: 100%;
        display: flex;
        flex-direction: column;
        label{
          font-family: 'Space Mono', monospace;
          font-weight: 700;
          color: $Dark-grayish-cyan-2;
        }
        .items{
          margin-top: 20px;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          .item{
            width: 30%;
            height: 40px;

            margin-bottom: 10px;
            .container__input{
              width: 100%;
              height: 100%;
              display: inline-block;
              position:relative;
              cursor:pointer;
              font-size:30px;
              user-select: none;
            }
            .container__input input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
            }
            .checkmark{
              position:absolute;
              top:0;
              left:0;

              width:100%;
              height:100%;

              font-weight: 400;
              font-size: 1.8rem;

              border-radius:5px;
              background-color: $Very-dark-cyan;
              color: $Light-grayish-cyan-2;

              display: flex;
              justify-content: center;
              align-items: center;
            }
            .custom{
              font-weight: 700;
              background-color: $Light-grayish-cyan-2;
              color: $Very-dark-cyan;
            }
            .container__input:hover .checkmark{
              //background:#ccc;
            }
            .checkmark:after{
              content:"";
              position:absolute;
              display:none;
            }
            .container__input .checkmark:after{
              top:50%;
              left:50%;
              width: 15px;
              height: 15px;
              transform:translate(-50%,-50%) rotate(45deg);
            }
            .container__input input:checked ~ .checkmark{
              background: $Strong-cyan;
              color: $Very-dark-cyan;
            }
            .container__input input:checked ~ .checkmark:after{
              display:block;
            }

            .onCustom{
              .checkmark{
                display: none;
              }
              input[type=number]{
                padding: 0 10px;
                width: 100%;
                width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
                height: -webkit-fill-available;

                background-color: $Light-grayish-cyan-2;
                border: 2px solid $Dark-grayish-cyan-1;
                border-radius: 10px;
                outline: none;
                opacity: 1;

                font-size: 1.6rem;
                text-align: right;
                font-weight: 700;
                color: $Very-dark-cyan;
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              }
            }
          }

        }
      }
      .count__number{
        margin-top: 10px;
        margin-bottom: 30px;
        label{
          font-family: 'Space Mono', monospace;
          font-weight: 700;
          color: $Dark-grayish-cyan-2;
        }
        &__input{
          height: 40px;
          margin-top: 10px;
          border-radius: 10px;
          padding-left: 15px;
          padding-right: 15px;

          background-color: $Light-grayish-cyan-2;

          display: flex;
          justify-content: center;
          align-items: center;
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          input{
            width: 100%;

            text-align: right;
            color: $Very-dark-cyan;

            font-family: 'Space Mono', monospace;
            font-weight: 700;

            background: none;
            border: unset;
            outline: none;

            font-size: 1.6rem;

          }
        }
      }
    }
    .content-right{
      width: calc(48% - 60px);
      padding: 40px 30px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      background-color: $Very-dark-cyan;
      .content{
        .item{
          margin-bottom: 25px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .label{
            h1{
              font-weight: 700;
              font-size: 1.6rem;
              color: $Light-grayish-cyan-1;
            }
            span{
              font-size: 1.4rem;
              color: $Dark-grayish-cyan-2;
            }
          }
          .result{
            h2{
              font-size: 4rem;
              color: $Strong-cyan;
            }
          }
        }
      }
      .button-footer{
        display: flex;
        justify-content: space-between;
        button{
          height: 50px;
          width: 45%;
          border-radius: 10px;

          font-size: 2rem;
          font-weight: 700;

          border: none;
          color: $Very-dark-cyan;
          background-color: $Strong-cyan;
        }
        .btn-disabled{
          background-color: $Dark-grayish-cyan-1;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  body {
    max-width: 375px;
  }
  .container{
    padding: 50px 0;
    .main__container{
      padding: 30px 0;
      width: 90%;
      .calculator{
        flex-direction: column;
        width: 70%;
        height: unset;
        .content{
          width: calc(100% - 20px);
          padding: 20px 10px;

        }
      }
    }
  }
}